/* custom styling */

@font-face {
font-family: Dinmittelschrift;
src: url("fonts/dinmittelschriftstd-1-opentype.otf") format("opentype");
}

.markdown-body {
  background-image: none; 
}

.site-name {
/*  font-family: "Dinmittelschrift";*/
  font-size: 1.2rem;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
}

html {
/*  font-family: "Roboto";*/
/*  font-weight: 300;*/
}

code,
pre,
tt,
kbd,
samp {
  font-family: "Source Code Pro", SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-weight: 500;
  white-space: pre;
}

.site-tag {
  display: inline-block;
  padding: 2px 10px;
  margin: 0 12px 12px 0;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: #f25022;
  background-color: #fef9f7;
}

.note {
  font-size: 16px;
  color: #333;
  /*transition: all 0.1s ease;*/
  opacity: 1.;
  line-height: 1.4;
  margin-bottom: 15px;
/*  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 10px;*/
}

/*.note:hover {
  transition: all .3s ease;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 5px;
}*/

.note-title {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.author-list {
  margin-bottom: 5px;
  font-weight: 300;
}

.markdown-body table th {
  font-weight: 500;
}

/* hover */
.note:hover,
.note:focus,
.note:active {
  /*transition: all 0.1s ease;*/
  opacity: 0.5;
  text-decoration: none;
}
.article-category:hover,
.article-category:focus,
.article-category:active,
.article-tag:hover,
.article-tag:focus,
.article-tag:active,
.author-tag:hover,
.author-tag:focus,
.author-tag:active {
  background-color: #def;
  /*background-color: #c0e3bf;*/
  text-decoration: none;
  /*opacity: 1.;*/
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
.site-tag:hover,
.site-tag:focus,
.site-tag:active {
  text-decoration: none;
  background-color: #fcefea;
}

/* nav bar styling */

.header {
  padding: 0;
  background-color: #eaeaea; /*#fff;*/
  margin-bottom: 2rem;
  border-top: 1px solid #e8e8e8;
/*  border-bottom: 1px solid #e8e8e8;*/
  border-bottom: 1px solid #959494;
  height: 3rem;
}

.site-name {
  line-height: 1.5rem;
}

#content {
  margin: 100px 5px 100px 5px; /* Adjust to fit max header and footer size */
}

body {
  min-height: 100vh;
  padding: 0 0 50px 0; /* Adjust to fit max footer size */
  position: relative;
}

.main {
  margin: 0 auto;
  width: 676px;
}

.footer {
  width: inherit;
  margin: 0 auto;
  border: 0;
  position: absolute;
  bottom: 0;
}

.nav-bar {
  margin: 0 auto;
  padding: 0.7rem 0;
  color: #222;
  width: 675px;
}

.site-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*.site-bar > a {
  border: solid 1px blue;
  border-radius: 5px;
  padding: 0 10px;
}*/

@media screen and (max-width: 700px) {
  .main {
    width: 96%;
  }
  .nav-bar {
    width: 96%;
  }

  #title-page {
    margin-left: 15px;
  }

  .site-bar {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
  }

  video {
    max-width: 100%;
    height: auto; /*scale proportionally to width*/ 
  }
}

.nav-menu {
  display: inline;
  float: right;
}

.nav-bar a {
  margin: 0 5px;
  position: relative;
  color: #222;
  text-decoration: none;
}

.nav-bar > a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  background-color: #222;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-bar > a:hover:before {
  visibility: visible;
  width: 100%;
}

.nav-menu > a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  background-color: #222;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-menu > a:hover:before {
  visibility: visible;
  width: 100%;
}

.nav-bar .social-link {
  margin: 0;
}

.nav-bar .social-link > img {
  width: 16px;
  margin: 0;
}

#mail-only-link:before {
  position: relative;
  top: 2px;
  background-image: url(../mail.svg);
  background-size: 30px 30px;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
}

/** Fancy gradient **/

/*.site-name {
  background: -webkit-linear-gradient(0deg,#005ae0, #0793b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-name:before {
  background: -webkit-linear-gradient(0deg,#005ae0, #0793b3);
}*/


/*.site-name {
  background: #005ae0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-name:before {
  background: #005ae0 !important;
}*/

/* overridden styles */

.markdown-body, .article-discussion {
/*  font-size: .9em;
  line-height: 1.5em;*/
  font-size: 15px;
  line-height: 22px;
}

.note-list {
  padding-bottom: 30px;
}

.note-list li {
  border-bottom: none;
}

.article-header {
  padding-bottom: 0;
}

.article-header h1 {
  margin-bottom: 0;
}

.markdown-body {
  /*padding-top: 0;*/
}

/* other */

#title-page {
  font-size: 18px;
  line-height: 1.8;
  font-weight: normal;
}

#profile-photo {
  width: 20%;
  display: inline;
  float: left;
  margin: 0px 25px 0px 5px;
  border-radius: 5px;
}

.social-link-row {
  display: inline-block;
  height: 1.8em;
  /*background-color: #ff0000;*/
  vertical-align: middle;
  transition: all 0.2s ease;
  /*width: 128px;*/
  /*width: 120px;*/
  /*width: 240px;*/
  overflow: hidden;
  display: inline-block;
}

/*.social-link-row:hover {
  transition: all 0.2s ease;
  width: 100%;
}*/

.social-link > img {
  margin-right: 5px;
  width: 22px;
  position: relative;
  top: 4px;
  /*filter: hue-rotate(-190deg);*/
}

.social-link > img:hover {
  /*filter: none;*/
  /*filter: sepia(58%);*/
}

.social-link {
/*  transition: all 0.5s ease;
  opacity: 1.0;*/
}

.social-link:hover {
  transition: all 0.1s ease;
  /*opacity: 0.1;*/
  opacity: 0.5;
  text-decoration: none;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
}

/*.col-40p {
  width: 40%;
}*/

.callout-row {
  display: flex;
  justify-content: right;
}

.callout {
  text-align: center;
  background-color: lightblue;
  color: black;
  border: dotted 1px blue;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}

.callout:hover {
  transition: all 0.1s ease;
  background-color: aliceblue;
  color: darkgray;
  border-color: skyblue;
}

.section-header {
/*  padding-top: 125px;*/
  padding-top: 50px;
}

.section-header > h6 {
  margin-bottom: 25px;
}

/*.section-link > a {
  color: lightgray;
}

.section-link > a:hover {
  transition: all 0.1s ease;
  color: gray;
}*/

.section-link {
  text-align: center;
}

.section-link > a {
  display: inline-block;
  transition: all 0.3s ease;
}

.section-link > a:hover {
  transition: all 0.3s ease;
  transform: translate(0, 10px);
}

.section-header > a:hover::after {
  content: " âž see more";
  transition: all 0.1s ease;
  opacity: 1.0;
  /*color: #0366d6;*/
  /*color: #095e06;*/
}

.section-header > a::after {
  content: "";
  transition: all 0.1s ease;
  opacity: 0.0;
}

/*.social-link-row > a > img:hover {
  filter: grayscale(0%);
  opacity: 1.0;
}*/

/** colour -> faded **/
/*.social-link-row > a:hover {
  transition: all 0.1s ease;
  opacity: 0.5;
}

#mail-link:before {
  position: relative;
  top: 5px;
  background-image: url(../mail.svg);
  background-size: 40px 40px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
}*/

/*filter: grayscale(100%);*/


/** colour -> faded v2: monotone color **/
/*.social-link-row > a {
  color: #000;
  filter: brightness(0) saturate(100%) invert(25%) sepia(96%) saturate(1564%) hue-rotate(196deg) brightness(100%) contrast(101%);
}

.social-link-row > a:hover {
  transition: all 0.1s ease;
  opacity: 0.6;
}*/


/** colour -> faded v3: mail link working **/
/*.social-link-row > a {
  color: #000;
  filter: brightness(0) saturate(100%) invert(25%) sepia(96%) saturate(1564%) hue-rotate(196deg) brightness(100%) contrast(101%);
}*/
/* transition underline https://stackoverflow.com/a/30352626 */
/*.social-link-row > a {
  border-bottom: 1px solid transparent;
}*/
/*transition: all 0.1s ease;*/

#mail-link:before {
  position: relative;
  top: 5px;
  background-image: url(../mail.svg);
  background-size: 40px 40px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
}

/*.mail-link {
  position: relative;
  top: 5px;
  background-image: url(../mail.svg);
  background-size: 40px 40px;
  display: inline-block;
  width: 25px;
  height: 20px;
}*/

/** faded -> black **/

/*.social-link-row > a > img {
  opacity: .3;
}

.social-link-row > a:hover {
  transition: all 0.1s ease;
  filter: grayscale(0%);
  opacity: 1.0 !important;
}

.social-link-row > a > img:hover {
  transition: all 0.1s ease;
  filter: grayscale(0%);
  opacity: 1.0 !important;
}

#mail-link:before {
  position: relative;
  top: 5px;
  opacity: .5;
  background-image: url(../mail.svg);
  background-size: 40px 40px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
}

#mail-link:hover:before {
  transition: all 0.1s ease;
  opacity: 1.0;
}*/

/** faded -> colour (blue) v2 **/

/*.social-link-row > a > img {
  opacity: .5;
}

.social-link-row > a:hover {
  transition: all 0.1s ease;
  filter: brightness(0) saturate(100%) invert(25%) sepia(96%) saturate(1564%) hue-rotate(196deg) brightness(100%) contrast(101%);
  opacity: 1.0 !important;
}

.social-link-row > a > img:hover {
  transition: all 0.1s ease;
  filter: grayscale(0%);
  opacity: 1.0 !important;
}

#mail-link:before {
  position: relative;
  top: 5px;
  opacity: .5;
  background-image: url(../mail.svg);
  background-size: 40px 40px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
}

#mail-link:hover:before {
  transition: all 0.1s ease;
  opacity: 1.0;
}*/



/** colour -> faded v2: monotone color **/
/*
.social-link-row > a {
  color: #000;
  filter: brightness(0) saturate(100%) invert(25%) sepia(96%) saturate(1564%) hue-rotate(196deg) brightness(100%) contrast(101%);
  opacity: 0.75;
}

.social-link-row > a:hover {
  transition: all 0.1s ease;
  filter: grayscale(0%);
  opacity: 1.0;
}
*/
/*#github-icon {
  opacity: 0.3;
}

#github-icon:hover {
  transition: all 0.1s ease;
  opacity: 1;
}*/

.note-date, .article-date {
  color: #777;
  margin: 0;
}

.article-date {
  font-size: 14px;
}

.note-title {
  margin: 0;
}

.note-content { 
  /*margin: 0;*/
  font-size: 16px;
/*  margin-bottom: 15px;*/
  font-weight: 300;
}

.note-metadata { 
  display: inline;
  font-size: 16px;
  line-height: 1.5;
}

.note-metadata .icon-hoverable {
  vertical-align: text-bottom;
}

.note .tag-list,
.article-header .tag-list {
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 300;
}

/*.note {
  display: inline-flex;
  justify-content: space-between;
}*/

#content .markdown-body {
  font-weight: 300;
}

.breadcrumb-back a:hover {
  opacity: 0.6;
  text-decoration: none;
}